/*fonts*/

@font-face {
  font-family: ZCOOL_KuaiLe;
  src: url(/assets/fonts/ZCOOLKuaiLe-Regular.ttf);
}

@font-face {
  font-family: Barriecito;
  src: url(/assets/fonts/Barriecito-Regular.ttf);
}

@font-face {
  font-family: Danfo;
  src: url(/assets/fonts/Danfo-Regular-VariableFont_ELSH.ttf);
}

@font-face {
  font-family: HachiMaruPop;
  src: url(/assets/fonts/HachiMaruPop-Regular.ttf);
}

@font-face {
  font-family: kaerukaeru;
  src: url(/assets/fonts/kaerukaeru-Regular.otf);
}

@font-face {
  font-family: Manufacturing Consent;
  src: url(/assets/fonts/ManufacturingConsent-Regular.ttf);
}

@font-face {
  font-family: Monomaniac One;
  src: url(/assets/fonts/MonomaniacOne-Regular.ttf);
}

@font-face {
  font-family: SyneMono;
  src: url(/assets/fonts/SyneMono-Regular.ttf);
}

/*body*/

body {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
}

h2, h3, p, li {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.1rem;
}

a {
  color: orange;
}

a:hover {
  color: chartreuse;
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.4rem;
  }
}

.wrapper {
  color: white;
  overflow: hidden;
}

.text {
  margin: 0 1rem;
}

/* marquee */
.marquee-wrapper {
  margin: 0rem auto auto auto;
  display: flex;
  user-select: none;
  overflow-x: hidden;
}

.marquee-text {
  overflow: hidden;
}

.marquee-text-track {
  display: flex;
  gap: 4rem;
  padding-left: 4rem;
  width: max-content;
  animation: marquee-move-text 15s linear infinite;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

/* moving animations */
@keyframes moveLeft {
  from {
    transform: translateX(100vw);
  }

  to {
    transform: translateX(-100vw);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(100vw);
  }
}

@keyframes seeSaw {
  0% {
    transform: rotate(-3deg);
  }
  100% {
    transform: rotate(3deg);
  }
}

@keyframes shake {
  0% {
    transform: translateX(-2px) translateY(-2px);
  }

  25% {
    transform: translateX(0px) translateY(3px);
  }

  50% {
    transform: translateX(-1px) translateY(-2px);
  }

  75% {
    transform: translateX(0px) translateY(3px);
  }

  100% {
    transform: translateX(-0px) translateY(-2px);
  }
}

@keyframes bounce {
  0% {
    transform:  translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes slideFromLeft {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideFromRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

/* landing page */
.full-height {
  height: 100vh;
}

.index-marquee {
  font-family: SyneMono;
  font-size: 1.5rem;
}

.walking-cat {
  margin-top: -2rem;
  animation: moveRight 10s linear infinite;
}

.landing {
  display: flex;
  flex-direction: column;
  place-content: center;
  width: 100vw;
  overflow: hidden;
}

.landing-graphic {
  margin: 0 auto; 
}

.enterButton {
  margin: 2rem auto 1.5rem auto;
  text-align: center;
  font-size: 40px;
  font-family: Monomaniac One;
  padding: 0px 12px 10px 12px;
  line-height: 1;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
  border: inset;  
  background-color: #aaaaaa;
}

.enterButton a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.enterButton:hover {
  transform: scale(1.5); /* */
}

@media screen and (min-width: 768px) {

  .enterButton {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1300px) {

  .marquee-text-track h1 {
    font-size: 4rem;
  }

  .enterButton {
    margin-top: 2rem;
    font-size: 5rem;
  }
}

/* home page */
.home-marquee {
  font-family: Danfo;
}

.home-grid {
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 3rem;
  grid-template-areas: 
    "announcement"
    "preview"
    "about"
    "links";
  
  .announcement {
    grid-area: announcement;
  }

  .preview {
    grid-area: preview;
  }

  .about {
    grid-area: about;
  }

  .links {
    grid-area: links;
  }
}

.home-grid h2 {
  text-align: center;
}

/*announcement*/
.announcement {
  position: relative;
}

.announcement-banner {
  max-width: 100%;
  animation: slideFromLeft 1s linear;
}

.announcement h2 {
  text-align: right;
  font-size: 1.8rem;
  font-family: kaerukaeru;
  font-weight: 100;
  margin-top: 1rem;
  color: black;
  animation: slideFromRight 2.5s;
}

.announcement .lines span{
  background-color: chartreuse;
}

.announcement h2 span {
  background-color: chartreuse;
  padding: 0 .5rem 0 .5rem;
}

.announcement .frog {
  margin-top: 1rem;
  overflow-x: hidden;
  animation: moveLeft 10s linear infinite;
}

.announcement .frog img {
  max-width: 100%;
  height: auto;
}

.announcement-deco {
  position: absolute;
  bottom: 170px;
  z-index: -1;
}

@media screen and (min-width: 400px) {
  .announcement-deco {
    bottom: 0;
    right: 0;
    max-width: 800px;
  }
}

.announcement p {
  width: 90%;
  margin: 1rem;
}

/*preview*/

.preview {
  text-align: center;
}

.step1 {
  font-size: 1.5rem;
  margin: 1rem;
  transform: rotate(-3deg);
  margin-bottom: 2rem;
}

.step2 {
  font-family: Barriecito;
  font-size: 3rem;
  transform: rotate(2deg);
}

.see-more {
  font-family: HachiMaruPop;
}

.winking-cat img {
  margin: 1rem 0;
}

.go-here {
  margin-top: 1rem;
  font-weight: 600;
}

.pages {
  margin: 2rem 0 2rem 0;
}

.pages img {
  width: 70%;
  max-width: 20rem;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: rotate(-10deg);
  transition: transform .7s ease-in-out;
}

.pages img:hover {
  transform: rotate(10deg);
}

.links-to-buy {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: row;
  place-content: center;
  text-align: center;
  gap: 2rem;
}

.links-to-buy img {
  width: 120px;
  height: 100px;
}

/*about*/

.about { 
  margin: 1rem;
}

.about img {
  width: 100%;
  animation: shake .8s ease-in-out infinite alternate;
}

.about .textbox {
  margin: 0 0 1rem 0;
  border-style: outset;
}

.about .textbox h2 {
  background-color: #aaaaaa;
  padding: .3rem 0;
  font-family: SyneMono;
  
}

.about .textbox p {
  color: black;
  background-color: white;
  padding: 1rem;
}

.about .textbox p span {
  font-family: ZCOOL KuaiLe;
  font-size: 2rem;
}

/* links */
.links {
  text-align: center;
  margin: 0 0 2rem 0;
  padding: 3rem 0 3rem 0;
}

.bouncing-letters {
  display: flex;
  place-content: center;
}

.bouncing {
  animation: bounce 2s infinite alternate;
  animation-timing-function: cubic-bezier(0.25, 0.85, 0.4, 1);
}

.letterone {
  animation-delay: 0s;
  display: inline-block;
}

.lettertwo {
  animation-delay: 0.2s;
  display: inline-block;
}

.letterthree {
  animation-delay: 0.4s;
  display: inline-block;
}

.letterfour {
  animation-delay: 0.6s;
  display: inline-block;
}

.letterfive {
  animation-delay: 1s;
  display: inline-block;
}

.lettersix {
  animation-delay: 1.2s;
  display: inline-block;
}

.letterseven {
  animation-delay: 1.4s;
  display: inline-block;
}

.lettereight {
  animation-delay: 1.6s;
  display: inline-block;
}

.letternine {
  animation-delay: 2s;
  display: inline-block;
}

.letterten {
  animation-delay: 2.2s;
  display: inline-block;
}

.lettereleven {
  animation-delay: 2.4s;
  display: inline-block;
}

.links ul li {
  list-style: none;
}

.links p {
  font-size: 1.8rem;
}

.social-media {
  color: deeppink;
}

.social-media:hover {
  color: chartreuse;
}

.links .text h2 {
  font-family: Manufacturing Consent;
  font-weight: 100;
  font-size: 2.5rem;
}



/* mobile responsiveness */

@media screen and (min-width: 400px) {
  .announcement h2 {
    font-size: 2.5rem;
  }

    .announcement-banner {
      max-width: 650px;
      height: auto;
    }

  .about {
    position: relative;
    min-height: 500px;
  }

  .about img {
    max-width: 350px;
    position: absolute;
    right: 0;
    top: 300px;
    z-index: -1;
  }

  .about .textbox {
    width: 70%;
  }

  .links {
    margin-top: 5rem;
  }

  .desktop .announcement-title h2 {
    display: flex;
    justify-content: flex-end;
  }
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
}


@media screen and (min-width: 801px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }

  .text {
    margin: 0;
  }

  .announcement h2 {
    font-size: 3rem;
    position: relative;
    right: 0;
  }

  .preview {
    margin: 0 auto;
    width: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    grid-template-areas:
      "directions directions"
      "pages winking-cat"
      "pages purchase";

    .directions {
      grid-area: directions;
    }

    .pages {
      grid-area: pages;
    }

    .purchase {
      grid-area: purchase;
    }
  }

  .step1 {
    font-size: 2rem;
  }

  .home-grid {
    gap: 5rem 0;
  }

  .about img {
    max-width: 400px;
  }
}

@media screen and (min-width: 1000px) {
  .home-grid {
    width: 1000px;
    margin: 0 auto;
  }
}
