body {
  background-color: black;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Rock3D;
  src: url(/assets/fonts/Rock3D-Regular.ttf);
}

@font-face {
  font-family: PaletteMosaic;
  src: url(/assets/fonts/PaletteMosaic-Regular.ttf);
}

h1 {
  font-weight: 100;
}

h2, h3, p {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.wrapper {
  color: white;
}

/* marquee */
.marquee-wrapper {
  margin: 0rem auto auto auto;
  display: flex;
  user-select: none;
  overflow-x: hidden;
}

.marquee-text {
  overflow: hidden;
}

.marquee-text-track {
  display: flex;
  gap: 4rem;
  padding-left: 4rem;
  width: max-content;
  animation: marquee-move-text 10s linear infinite;
}

.marquee-text-track h1 {
  font-size: 3.5rem;
  line-height: 0;
  font-family: Rock3D;
}

@keyframes marquee-move-text {
  to {
    transform: translateX(-50%);
  }
}

/* landing page */
.landing {
  display: flex;
  flex-direction: column;
  place-content: center;
}

.placeholder {
  margin: 1rem auto 0 auto;
  height: 300px;
  width: 300px;
  background-color: aliceblue;
}

.enterButton div {
  height: 4rem;
}

.enterButton {
  margin: 1rem auto 0 auto;
  text-align: center;
  font-size: 40px;
  font-family: "Courier New", Courier, monospace;
  padding: 10px 20px;
  transition: transform 0.3s ease-in-out;
  background-color: transparent;
  border: none;
}

.enterButton a {
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.enterButton:hover {
  transform: scale(1.5); /* */
}

@media screen and (min-width: 768px) {
  .placeholder {
    margin-top: 1.5rem;
  }

  .enterButton {
    font-size: 3rem;
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  .placeholder {
    margin-top: 4rem;
    width: 400px;
    height: 400px;
  }

  .marquee-text-track h1 {
    font-size: 4rem;
  }

  .enterButton {
    margin-top: 2rem;
    font-size: 5rem;
  }
}

/* home page */
.home-grid {
  padding: 0;
  margin: 0;
  display: grid;
  gap: 2rem;
  grid-template-areas: 
    "announcement"
    "preview"
    "widget"
    "about"
    "links";
  
  .announcement {
    grid-area: announcement;
  }

  .preview {
    grid-area: preview;
  }

  .widget{
    grid-area: widget;
  }

  .about {
    grid-area: about;
  }

  .links {
    grid-area: links;
  }
}

.home-grid h2 {
  text-align: center;
}

.announcement img {
  max-width: 100%;
  height: auto;
}

.announcement h2 {
  text-align: right;
  font-size: 1.5rem;
  font-family: PaletteMosaic;
  font-weight: 100;
  margin: 1rem 0 1rem 0;
}

.preview {

}

.preview h2 {
  text-align: center;
}

.carousel {
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "cover spread1"
  "spread2 spread3";
}

.carousel img {
  width: 80%;
  max-width: 20rem;
  height: auto;
  display: block;
  margin: 0 auto;
}

.widget {
}

.about img {
  max-width: 100%;
  height: auto;
}